@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/PoppinsLatin-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/PoppinsLatin-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/PoppinsLatin-Light.otf");
  font-weight: 300;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Poppins;
  height: 100vh;
  height: 100dvh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
